*{
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: lightblue;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    gap: 1rem;
    background: linear-gradient(to right, #833AB4, #FD1D1D, #FCB045);
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-list{
    display: flex;
    gap: 1rem;
    list-style: none;
}


.nav-links{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links:hover {
  text-decoration: underline;
  background-color: rgba(255,255,255,0.15);
}

.hero-section{
    text-align: center;
    padding-left: 2rem 1rem;
}

.hero-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-section p{
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}


.hero-section img.gif {
  max-width: 80%;
  height: auto;
}

.gif{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.social-media{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

.btn-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 1024px){
    .container{
        max-width: 960px;
        display: flex;
        justify-content: space-between;
    }
}